<div class="block__auth__overlay">
  <div class="auth__overlay">
    <div class="title__and__close">
      <div class="close__cross" (click)="isAuthOverlay.set(false)">
        <img src="/assets/icons/exit-cross-icon.svg" alt="">
      </div>
      <div class="title__login">
        <img src="/assets/icons/profile-icon.svg" width="80" height="80" alt="">
        <p class="ft24 fw400 login__to__account">Вход в аккаунт</p>
      </div>
    </div>
    <form action="" [formGroup]="form"
          (ngSubmit)="onSubmit()"
    >
      <div class="block__login__and__password">
        <p class="ft20 fw400">Логин</p>
        <label>
          <input
            formControlName="username"
            type="text" placeholder="Введите имя пользователя" class="input__text ft20 fw400"/>
        </label>
        <div class="password__info">
          <span class="ft20 fw400">Пароль</span>
          <span *ngIf="!passwordValid" class="wrong_password">
          <img src="/assets/icons/red-mistake-icon.svg" alt="">
          Неверный пароль
        </span>
        </div>
        <div class="block__password">
          <label>
            <input
              formControlName="password"
              [type]="isPasswordVisible() ? 'text' : 'password' " placeholder="Введите пароль"
                   class="input__text ft20 fw400"/>
          </label>
          <button class="password__eye" (click)="isPasswordVisible.set(!isPasswordVisible())">
            <img src="/assets/icons/password-eye-icon.svg" alt="">
            <div *ngIf="!isPasswordVisible()" class="password__eye__line"></div>
          </button>
        </div>
        <a class="ft16 fw400" id="forgot__pass">Забыли пароль?</a>

        <p class="ft20 fw400">Или войти через: </p>
        <div class="image__login__with__VK">
          <a>
            <img src="/assets/icons/vk-logo.svg" alt="">
          </a>
        </div>

        <p class="ft18 fw400">Нет аккаунта? <a class="registration__link" (click)="isRegisterOverlay.set(true)">Зарегистрироваться</a>
        </p>
      </div>

      <div class="block__log-in__button">
        <button id="button__login" type="submit" class="ft20 ptbold">Войти</button>
      </div>
    </form>
  </div>
</div>
