<section class="create__post__section">
  <div class="create__post__wrapper">
    <img [routerLink]="" src="/assets/icons/exit-cross-icon.svg" alt="exit-cross" class="exit__cross">
    <div class="create__post__title ft48 roboto fw600">{{ titleObject[numberOfSlide()] }}</div>
    <div class="create__post__progressbar">
      <div *ngIf="numberOfSlide() > 1" class="create__post__progressbar__ready"
           [style.width.%]="100 / countOfSlides * numberOfSlide()"></div>
    </div>
    <div *ngIf="numberOfSlide() > 1" class="create__post__back__arrow"
         (click)="numberOfSlide.set(numberOfSlide() - 1)">
      <img src="/assets/icons/back-arrow-logo.svg" alt="arrow">
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="formCreatePost">
      <div *ngIf="numberOfSlide() == 1" class="create__post__main create__post__main__first">
        <app-button-lost-pet #reasonButton />
        <app-button-find-pet #reasonButton  />
        <app-button-looking-for-home #reasonButton />
      </div>

      <div *ngIf="numberOfSlide() == 2" class="create__post__main create__post__main__second">
        <p class="ft20 fw700">Вид</p>
        <div class="create__post__buttons">
          <button class="yellow-color simple__button" #animalType><img src="/assets/icons/cat-button-icon.svg" alt="cat"/>Кошка
          </button>
          <button class="pink-color simple__button" #animalType><img src="/assets/icons/dog-button-icon.svg" alt="dog"/>Собака
          </button>
        </div>
        <p class="ft20 fw700">Пол</p>
        <div class="create__post__buttons">
          <button class="yellow-color simple__button" #gender><img src="/assets/icons/boy-button-icon.svg" alt="boy"/>Мальчик
          </button>
          <button class="pink-color simple__button" #gender><img src="/assets/icons/girl-button-icon.svg" alt="girl"/>Девочка
          </button>
        </div>
      </div>

      <div *ngIf="numberOfSlide() == 3" class="create__post__main create__post__main__third">
        <div class="create__post__place__for__photos"
             (dragover)="onDragOver($event)"
             (dragleave)="onDragLeave($event)"
             (drop)="onDrop($event)"
             [class.active]="isDragging">
          <p class="ft20 fw700"
             [style.color]="'#FFFFFFCC'" [style.width.%]="50">
            Перетащите фотографии сюда</p>
        </div>
        <div class="create__post__info__photos">
          <div class="create__post__block__photos">
            <div *ngIf="!selectedFiles.length" class="create__post__photos__text" [style.padding-top.px]="20">
          <span class="fw700 ft20 lh26">Если у вас нет фотографии питомца, то прикрепите
похожую фотографию из интернета</span>
              <span class="fw700 ft20 lh26">Убедитесь, что на фотографиях нет никакой
информации о геолокации</span>
            </div>

            <div *ngIf="selectedFiles.length" class="create__post__photos__preview">
              <div *ngFor="let file of selectedFiles">
                <img [src]="file.preview" [alt]="file.name" class="photo__preview">
              </div>
            </div>
            <app-add-photo-button [selectedFiles]="selectedFiles"/>
            <app-confirm-overlay *ngIf="photosOverlay()" [thisOverlay]="photosOverlay" [target]="'photo'"
                                 [selectedFiles]="selectedFiles" [numberOfSlide]="numberOfSlide"/>
          </div>
        </div>
      </div>

      <div *ngIf="numberOfSlide() == 4" class="create__post__main create__post__main__fourth">
        <div class="create__post__calendar">
          <app-custom-calendar
            (valueChange)="updateValue($event)"/>
        </div>
        <div class="create__post__calendar__text">
          <div class="create__post__calendar__text__title">
            <span class="ft24 fw700">Район/Метро</span>
            <span class="text__title__circle__warning ft16 fw400">?</span>
            <app-ran-warning class="text__title__warning"/>
          </div>
          <div class="create__post__calendar__text__find">
            <img src="/assets/icons/lens-icon.svg" alt="icon" width="20" height="20">
            <input type="text" class="create__post__search ft20 fw400" placeholder="Введите район или метро">
          </div>
          <div class="create__post__text__place__list">
            <div [style.gap.px]="5" [style.display]="'flex'" [style.flex-direction]="'column'">
              <label [style.gap.px]="5" [style.display]="'flex'" [style.align-items]="'center'"
                     *ngFor="let district of districts; let i = index">
                <button appClickToSelect="selectedPlace" class="yellow__button__choose"
                        (click)="saveDivValue(i)"></button>
                <div #myDiv>{{ district.text }}</div>
              </label>
            </div>
          </div>

          <div
            class="create__post__calendar__text__district">
            {{ !selectedDate ? '' : selectedDate| date:'dd.MM.yyyy, ' }}
            {{ !selectedDistrict ? '' : selectedDistrict }}
          </div>
        </div>
      </div>

      <div *ngIf="numberOfSlide() == 5" class="create__post__main__fifth">
        <div class="ft20 fw400" [style.padding-bottom.px]="30">Какой-то текст</div>
        <div class="ft24 fw700" [style.padding-bottom.px]="15">Окрас</div>
        <div class="create__post__main create__post__choose__color">
          <div *ngFor="let color of chooseColors" [style.gap.px]="15" [style.display]="'flex'"
               [style.align-items]="'center'">
            <button class="yellow__button__choose" appClickToSelect="selectedColor"></button>
            <div class="ft20 fw400" #color>{{ color }}</div>
          </div>
        </div>
      </div>

      <div *ngIf="numberOfSlide() == 6" class="create__post__main create__post__main__sixth">
        <div class="ft20 fw400">Добавьте общую информацию о пропавшем питомце: пол, окрас и обстоятельства потери.
          Не рекомендуем вводить кое-что пока Ангелина формулирует, что написать дальше
        </div>
        <textarea [(ngModel)]="textValue" class="textarea__description"
                  placeholder="Добавьте описание животного" #description></textarea>
        <app-confirm-overlay *ngIf="descriptionOverlay()" [thisOverlay]="descriptionOverlay" [target]="'description'"/>
      </div>

      <div *ngIf="numberOfSlide() <= countOfSlides - 1" class="create__post__button__next">
        <button class="white__buttons button__next fw700 ft20"
                (click)="buttonNextClick()">Дальше
        </button>
      </div>

      <div *ngIf="numberOfSlide() == countOfSlides && countOfSlides == 6" class="create__post__button__next">
        <button class="white__buttons button__create__post fw700 ft20" (click)="createPost()" type="submit">
          Создать объявление
        </button>
      </div>
    </form>
  </div>
</section>
