<div appToggleActive class="block__chat">
  <div class="block__avatars__message">
    <div>
      <div class="block__avatar">
        <img src="/assets/images/test-cat.png" alt="avatar" class="user__avatar">
        <img src="/assets/images/test-cat2.png" alt="avatar" class="user__second__avatar">
        <div class="user__online"></div>
      </div>
    </div>

    <div class="block__messages">
      <div class="block__user__info">
        <div class="block__username fw700 ft18">
          {{ chat.title}}
        </div>
        <div class="block__time__message fw400 ft16">
        </div>
      </div>
      <div class="block__message__info ft18 fw400">
        <div class="message">
          <div *ngIf="chat.last_message?.sender_name != ''">
            {{ chat.last_message?.sender_name}}: {{chat.last_message?.message_content}}
          </div>
          <div *ngIf="chat.last_message?.sender_name == ''">
            {{ 'No messages yet' }}
          </div>
        </div>

        <div *ngIf="chat.unread_count > 0" class="message__count">
          {{ chat.unread_count }}
        </div>
      </div>
    </div>
  </div>
</div>
