<main class="main_page">
  <div class="cat-with-buttons-and-dog">
    <div>
      <div class="animals-text">
        <p class="ft48 roboto fw600 lh64">Помоги бездомному животному</p>
        <p class="ft24 fw400">Животные ждут твоей помощи</p>
      </div>
      <div class="ptbold ft24 fw700 animals__buttons ">
        <app-button-lost-pet />
        <app-button-find-pet />
        <app-button-looking-for-home />
      </div>
    </div>
  </div>
  <div class="stickers">
    <app-sticker
      *ngFor="let stickerItem of stickerItems"
      [stickerItem]="stickerItem" />
  </div>
  <div class="block__faq">
    <div class="questions">
      <p class="ft48 roboto fw600">Вопросы</p>
    </div>
    <app-question
      *ngFor="let questionItem of questionItems"
      [questionItem]="questionItem"
    />
  </div>
  <div class="block__about-us">
    <div class="text__about-us">
      <p class="ft48 roboto fw600">О нас</p>
    </div>
  </div>
</main>
