.block__post__pet {
  max-width: 334px;
  display: contents;
  margin: 44px 44px 30px 44px;
  justify-items: center;
  align-items: center;
  
  .block__post__inferior {
    
    &:hover {
      background-color: rgba(53, 43, 26, 1);
      transition: background-color .1s;
  
      .post__pet__button {
        color: var(--brown-button-color);
        background: var(--white-color);
      }
    }
  
    border-radius: 20px;
    flex: none;
    display: grid;
    gap: 20px;
    max-width: 421px;
    padding: 44px 44px 30px 44px;
    justify-items: center;

    .block__image__pet {
      .image__pet {
        width: 334px;
        height: 352px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }

    .block__info__pet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;

      .block__info__date {
        text-align: center;
        align-content: center;
        padding: 6px 18px;
        white-space: nowrap;
        background: var(--gray-color-button);
        border-radius: 10px;
      }

      .block__info__comments{
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../../../../../public/assets/icons/comment-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 37px;
        width: 46px;
        padding: 6px 0px;
        text-align: center;
        align-content: center;
      }

      @mixin block__info__find_status($styles) {
        text-align: center;
        align-content: center;
        padding: 6px 18px;
        border-radius: 10px;
        background: var($styles);
      }
  
      .block__info__lost {
          @include block__info__find_status(--red-color-button);
      }
  
      .block__info__looking_for_home {
          @include block__info__find_status(--orange-color-button);
      }
  
      .block__info__found_home {
          @include block__info__find_status(--green-color-button)
      }
    }

        .block__place__pet {
      width: 100%;
      justify-items: start;
    }

    .block__description__pet {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      width: 334px;
    }

    .block__under__place {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
  
      .block__username__author {
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 100px;
      }
  
      .block__button {
        cursor: pointer;
  
        .post__pet__button {
          text-align: center;
          align-content: center;
          border-radius: 10px;
          border: 1px solid var(--white-color);
          padding: 7px 18px;
        }
      }
    }
  }
}
