<div class="notification__left-comment">
  <div class="block__notification__info">
    <div class="images__notification">
      <img src="/assets/images/test-cat.png" class="main__image">
      <img src="/assets/images/test-cat2.png" class="second__image">
    </div>
    <div class="block__notification__text">
      <div class="text__notification">
      <span class="lh26 fw400 ft20"><a class="format__text">Имя Чела</a> оставил комментарий под вашим объявлением: <a
        class="format__text text__post">А здесь должен быть текст комментария под постом и здесь должно быть очень много букав</a></span>
      </div>
      <div class="block__notification__date">
        <span class="notification__date">Сегодня в 10:14</span>
      </div>
    </div>
  </div>
</div>
