@import "../notification-styles";

.notification__post-closed {
  height: 129px;
  @include notification__block;

  .block__notification__info {
    display: flex;


    .block__notification__image {
      @include block__images;

      .main__image {
        @include main__image(1);
      }
    }

    .block__notification__text {
      .notification__text {
        @include notification__hidden__text(2);
      }

      .block__notification__date {
        padding-top: 10px;
        .notification__date {
          @include notification__date;
        }
      }
    }
  }
}
