<div class="notification__post-closed">
  <div class="block__notification__info">
    <div class="block__notification__image">
      <img src="/assets/images/test-cat3.png" class="main__image">
    </div>
    <div class="block__notification__text">
      <div class="notification__text">
        <span class="ft20 fw400 lh26">Ваше объявление <a class="format__text">Очень длинный текст объявления которые не помещается надеюсь ничего не сломается</a></span>
      </div>
      <span class="ft20 fw400 lh26">закрыто</span>
      <div class="block__notification__date">
        <span class="notification__date">Вчера в 18:22</span>
      </div>
    </div>
  </div>
</div>
