<div class="main__container">
    <app-keepers-filter-bar/>
      <div class="container__page__keepers">
        <div class="container__upper__menu">
    
          <div class="container__top-buttons">
            <div class="keepers__search__bar">
              <img src="../../assets/icons/lens-icon.svg" alt="icon">
              <span><input class="search-input fw400 ft20 ptitalic" type="text" placeholder="Поиск передержки"></span>
            </div>
            <button class="button_become_keeper" href="#">
                <div class="button_inside">
                  <div class="button_text">СТАТЬ ПЕРЕДЕРЖКОЙ</div>
                </div>
            </button>
          </div>
    
          <div class="container__info__keepers-displaying">
            <div class="block__displaying-switch-icons">
              <img src="../../assets/icons/grid-white-icon.svg" alt="icon">
              <img src="../../assets/icons/list-gray-icon.svg" alt="icon">
            </div>
            <div class="block__displaying-keepers-title">
              <img src="../../assets/icons/VolunteerVector.svg" alt="icon">
              Передержка
            </div>
            <div class="block__displaying-rating_filtr">
                По рейтингу
                <button class="filter_button"></button>
            </div>
          </div>
       
        </div>
        <div class="container__keepers">
          <div class="keepers">
            @for (keeper of keepers; track keeper.id){
              <app-keeper-profile [keeper]="keeper"/>
            }
        </div>
      </div>
    </div>  
    