<app-header/>
<div class="main__ads">
  <div class="left__list">
    <div>
      <li>
        <p>Питомец</p>
        <ul>Пропал</ul>
        <ul>Найден</ul>
        <ul>Ищет дом</ul>
      </li>
    </div>
    <div>
      <li><p>Вид</p>
        <ul>Кошка</ul>
        <ul>Собака</ul>
      </li>
    </div>
    <div>
      <li><p>Окрас</p>
        <ul>Чёрный</ul>
        <ul>Белый</ul>
        <ul>Коричневый</ul>
        <ul>Рыжий</ul>
        <ul>Серый</ul>
        <ul>Кремовый</ul>
      </li>
    </div>
    <div>
      <li><p>Район/Метро</p>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
      </li>
    </div>
  </div>
  <div class="main_menu_ads">
    <div class="ads__search__bar">
      <img src="../../assets/icons/lens-icon.svg" alt="icon">
      <input type="text">
    </div>
    <div class="ads">
      <app-post/>
      <app-post/>
      <app-post/>
      <app-post/>
      <app-post/>
    </div>
  </div>
</div>
