<app-header/>
<div class="container__page__posts">
  <div class="container__upper__menu">

    <div class="container__top-buttons">
        <div class="posts__search__bar">
          <img src="../../assets/icons/lens-icon.svg" alt="icon">
          <input class="search-input  ft20" type="search" placeholder="Поиск по объявлениям">
        </div>
      <button class="button__publish fw700 ft20">+ Разместить объявление</button>
    </div>

    <div class="container__info__posts-displaying">
      <div class="block__displaying-icons"></div>
      <p class="title__search-result">Результаты по запросу "Хвост"</p>
    </div>
    
  </div>
  <div class="container__posts">
    <div class="posts">
      <app-post/>
      <app-post/>
      <app-post/>
      <app-post/>
      <app-post/>
    </div>
  </div>
</div>
