<div class="trapper__interior_container">
  <div class="trapper__inferior_container">
    <div class="photo__container">
      <img class="trapper_photo" [src]="trapper.photo" alt="trapper-photo"/>
      <app-favorites-button/>
    </div>
    <div class="info-under-photo__container">
      <img class="trapper_type"  [src] = "trapper.animal_type | trapperType" alt="animal_type">
      <app-trapper-cost-status/>
      <img class="car_info" [src] = "trapper.have_car ? '../../assets/icons/car.png' : '../../assets/icons/nocar.png'" alt="car_photo">
    </div>
    <div class="trapper-description__container ft20 fw400"> {{trapper.description}} </div>
    <div class="place__container ft20 fw400">{{trapper.location}}</div>
    <div class="trapper-bottom__container">
      <div class="author-username__container user_tag">&#64;{{trapper.name}}</div>
      <a href="#" class="response-button ptbold ft20">
        <div class="button-figure"></div>
        <div class="button-text">Сообщение</div>
      </a>
    </div>
  </div>
</div>
