<div class="sidebar">
    <div>
        <li>
        <p>Питомец</p>
        <ul>Пропал</ul>
        <ul>Найден</ul>
        <ul>Ищет дом</ul>
        </li>
    </div>
    <div>
        <li><p>Вид</p>
        <ul>Кошка</ul>
        <ul>Собака</ul>
        </li>
    </div>
    <div>
        <li><p>Окрас</p>
        <ul>Чёрный</ul>
        <ul>Белый</ul>
        <ul>Коричневый</ul>
        <ul>Рыжий</ul>
        <ul>Серый</ul>
        <ul>Кремовый</ul>
        </li>
    </div>
    <div>
        <li><p>Район/Метро</p>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        </li>
    </div>
</div>
