.main_page {

  .cat-with-buttons-and-dog {
    display: grid;
    align-items: center;
    padding-left: 282px;
    justify-content: start;
    background-size: cover;
    background-repeat: no-repeat;
    height: 737px;
    background-image: url(../../../public/assets/images/cat-and-dog.jpeg);

    .animals-text {
      display: grid;
      grid-gap: 12px;
      padding-bottom: 100px;
    }

    .animals__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .animals__button {
        display: flex;
        color: var(--text-brown-light-color);
        border-radius: 16px;
        align-items: center;
        justify-content: center;
        height: 59px;
        width: 251px;
        cursor: pointer;
      }

      .animals__button-hide {
        background: var(--yellow-color-bg);
        &:hover {
          background: var(--brown-hover-color);
          color: var(--yellow-color-bg);
          transition: 0.3s ease;
        }
      }

      .animals__button-find {
        background: var(--pink-color-bg);
        &:hover {
          background: var(--red-hover-color);
          color: var(--pink-color-bg);
          transition: 0.3s ease;
        }
      }
    }
  }

    .stickers {
      background-image: url(../../../public/assets/images/bg-with-steps.png);
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 90vh);
      padding-top: 50px;
      column-gap: 70px;
      justify-items: end;
      align-items: start;

      :nth-child(even) {
        justify-self: start;
        align-self: end;
      }

      .questions {
        justify-self: start;
        padding-top: 50px;
        margin-bottom: 10px;
        margin-left: 220px;
      }
    }

  .block__faq {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
  }

  .block__about-us {
    margin-top: 100px;
    background: var(--brown-bg-color);
    height: 100vh;
    padding-left: 220px;
  }
}


