<div class="filters-bar">
    <div class="content__container">
        <div class="filter">
            <li><p class="ptbold">Статус</p>
            <ul>Пропал</ul>
            <ul>Найден</ul>
            <ul>Ищет дом</ul>
            </li>
        </div>
        <div class="filter">
            <li><p class="ptbold ft24 fw700">Район/Метро</p>
            <ul></ul>
            <ul></ul>
            <ul></ul>
            <ul></ul>
            </li>
        </div>
        <div class="filter">
            <li><p class="ptbold ft24 fw700">Вид</p>
            <ul>Кошка</ul>
            <ul>Собака</ul>
            </li>
        </div>
        <div class="filter">
            <li><p class="ptbold ft24 fw700">Пол</p>
            <ul>Девочка</ul>
            <ul>Мальчик</ul>
            </li>
        </div>
        <div class="filter">
            <li><p class="ptbold ft24 fw700">Окрас</p>
            <ul>Чёрный</ul>
            <ul>Белый</ul>
            <ul>Коричневый</ul>
            <ul>Рыжий</ul>
            <ul>Серый</ul>
            <ul>Кремовый</ul>
            </li>
        </div>
    </div>
</div>
