<div class="sticker" [class]="stickerItem.class">
  <div class="sticker__title">
    <div class="title__icon">
      <p class="ft40 fw700 lh52">{{ stickerItem.title }}</p>
      <img class="icon" src="assets/icons/{{ stickerItem.icon }}" [alt]="stickerItem.title">
    </div>
    <p class="ft20 fw400">{{ stickerItem.subtitle1 }}</p>
  </div>
  <p class="ft20 fw400">{{ stickerItem.subtitle2 }}</p>
  <div class="block__button">
    <a class="sticker__button ft24 fw700" [class]="stickerItem.class">Перейти</a>
  </div>
</div>


