<div class="main__container">
  <app-trapper-filter-bar/>
    <div class="container__page__trapperss">
      <div class="container__upper__menu">
  
        <div class="container__top-buttons">
          <div class="trappers__search__bar">
            <img src="../../assets/icons/lens-icon.svg" alt="icon">
            <span><input class="search-input fw400 ft20 ptitalic" type="text" placeholder="Поиск отловщиков"></span>
          </div>
          <button class="button_become_trapper" href="#">
              <div class="button_inside">
                <div class="button_text">СТАТЬ ОТЛОВЩИКОМ</div>
              </div>
          </button>
        </div>
  
        <div class="container__info__trappers-displaying">
          <div class="block__displaying-icons">
            <img src="../../assets/icons/grid-white-icon.svg" alt="icon">
            <img src="../../assets/icons/list-gray-icon.svg" alt="icon">
          </div>    
          <p class="title__search-result fw400 ft20 ptbold">Отловщики</p>
        </div>
     
      </div>
      <div class="container__trappers">
        <div class="trappers">
            @for (trapper of trappers; track trapper.id){
              <app-trapper-profile [trapper] = "trapper"/>
            }
      </div>
    </div>
  </div>  
  