.header {
  background: var(--brown-main-color);
  color: var(--white-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;

  .header__buttons {
    display: grid;
    grid-gap: 50px;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    padding-right: 7vw;

    .header__auth__profile {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      align-items: center;

      .header__profile__image {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .header__auth__button {
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .message__block {
      }

      .notification__block {

      }

      .profile__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &:hover {
          .profile__popup {
            max-height: fit-content;
            overflow: visible;
            transition: max-height 1s;
          }
        }

        .profile__popup {
          order: 0;
          overflow: hidden;
          max-height: 0;
          transition: max-height 1s;
        }
      }
    }

    .header__button {
      width: fit-content;


      .header__link {
        text-decoration: none;
        font-size: 20px;
        color: var(--white-color);

        .header__how-to-help {
          width: 232px;
          height: 46px;
          background: var(--brown-light-color);
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background: #7A6233;
            border: 0;
            transition: 0.3s ease;
          }
        }


        :hover {
          border-bottom: 2px solid var(--white-color);
          transition: 0.2s ease;
        }
      }
    }
  }

  .header__logo {
    padding: 14px 100px;
  }
}

