<div class="header">
  <div class="header__logo">
    <a href=''><p class="ft48 fw700" >LoGo</p></a>
  </div>
  <div class="header__buttons">
    <div *ngFor="let headerItem of headerItems" class="header__button">
      <a [routerLink]="headerItem.path" class="header__link">
        <div [class]="headerItem.className">{{ headerItem.text }} </div>
      </a>
    </div>

    <div *ngIf="!isAuth()" class="header__button">
      <a class="header__link">
        <div (click)="isAuthOverlay.set(true)"
             (keydown.enter)="isAuthOverlay.set(true)"
             tabindex="0"
             role="button"
             aria-pressed="false">Войти</div>
      </a>
    </div>

    <div *ngIf="isAuth()" class="header__auth__profile">
      <div class="header__auth__button message__block">
        <a [routerLink]="'chats'">
          <img src="/assets/icons/message-icon.svg" class="header__message__icon" alt="icon">
        </a>
        <app-message-popup class="popups message__popup"/>
      </div>
      <div class="header__auth__button notification__block">
        <a>
          <img src="/assets/icons/notification-icon.svg" class="header__notification__icon" alt="icon">
        </a>
        <app-notification-popup class="popups notification__popup"/>
      </div>
      <div class="header__auth__button profile__block">
        <a>
          <img src="/assets/images/test-cat2.png" class="header__profile__image" alt="profile">
        </a>
        <app-profile-popup
          [isAuth]="isAuth"
          class="popups profile__popup"/>
      </div>
    </div>
  </div>
  @if (isAuthOverlay()) {
  <app-auth-service-overlay
  [isAuthOverlay]="isAuthOverlay"
  [isRegisterOverlay]="isRegisterOverlay"
  [isAuth]="isAuth"
  class="auth__overlay"/>
  }

  @if (isRegisterOverlay()) {
  <app-register-overlay
  [isRegisterOverlay]="isRegisterOverlay"
  class="register__overlay" />
  }
</div>
