<div class="header">
  <div class="header__logo">
    <p class="ft48 fw700">LoGo</p>
  </div>
  <div class="header__buttons">
    <div *ngFor="let headerItem of headerItems" class="header__button">
      <a [routerLink]="headerItem.path" class="header__link">
        <div [class]="headerItem.className">{{ headerItem.text }} </div>
      </a>
    </div>

    <div *ngIf="!isAuth" class="header__button">
      <a [routerLink]="" class="header__link">
        <div>Войти</div>
      </a>
    </div>

    <div *ngIf="isAuth" class="header__auth__profile">
      <div class="header__auth__button message__block">
        <a>
          <img src="/assets/icons/message-icon.svg" class="header__message__icon">
        </a>
        <app-message-popup class="popups message__popup"/>
      </div>
      <div class="header__auth__button notification__block">
        <a>
          <img src="/assets/icons/notification-icon.svg" class="header__notification__icon">
        </a>
        <app-notification-popup class="popups notification__popup"/>
      </div>
      <div class="header__auth__button profile__block">
        <a>
          <img src="/assets/images/test-cat2.png" class="header__profile__image">
        </a>
        <app-profile-popup class="popups profile__popup"/>
      </div>
    </div>
  </div>
  @if (loginOverlay) {
  <app-auth-overlay class="auth__overlay"/>
  }
</div>
