<div class="block__ad__pet">
  <div class="block__image__pet">
    <img class="image__pet" src="../../assets/images/test-cat3.png" alt="pet"/>
  </div>
  <div class="block__info__pet">
    <p class="propal ft20 fw400">Пропал</p>
    <p class="block__info__date ft20 fw400">Вт 17.07</p>
    <p class="block__info__comments ft20 fw400">99+</p>
  </div>
  <div class="block__description__pet ft20 fw400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam animi consectetur distinctio dolorem excepturi hic itaque, libero minus, neque quam, saepe tempore. Non perspiciatis tempore voluptate. Modi similique, totam!</div>
  <div class="block__place__pet ft20 fw400">р-н. Калининский</div>
  <div class="block__under__place">
    <div class="block__username__author user_tag">&#64;OchenVeryDlinniyNickName</div>
    <div class="block__button">
      <a class="ad__pet__button ft20">Откликнуться</a>
    </div>
  </div>
</div>
