.header {
  background: var(--brown-main-color);
  color: var(--white-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;

  .header__buttons {
    display: grid;
    grid-gap: 50px;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    .header__button {
      width: fit-content;
      .header__link {
        text-decoration: none;
        font-size: 20px;
        color: var(--white-color);

        .header__how-to-help {
          width: 232px;
          height: 46px;
          background: var(--brown-light-color);
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background: #7A6233;
            border: 0;
            transition: 0.3s ease;
          }
        }


        :hover {
          border-bottom: 2px solid var(--white-color);
          transition: 0.2s ease;
        }
      }
    }
  }

  .header__logo {
    padding: 14px 100px;
  }
}

