@mixin find-status($bg-color) {
    cursor: pointer;
    text-align: center;
    align-content: center;
    padding: 6px 18px;
    border-radius: 10px;
    background: var($bg-color);
    white-space: nowrap;
    border: none;
}

.lost_status {
    @include find-status(--red-active-button-bg);
}

.looking-for-home_status {
    @include find-status(--orange-active-button-bg);
}

.found-home_status {
    @include find-status(--green-active-button-bg);
}
