<div class="notification__add-favorites">
  <div class="block__notification__info">
    <div class="block__notification__image">
      <img src="/assets/images/test-cat3.png" class="notification__image" alt="avatar">
    </div>
    <div class="notification__text">
      <span class="ft20 fw400 lh26"><span class="format__text">Тимофей Зайнулин</span> добавил ваше объявление в избранное</span>
      <div class="block__notification__date">
        <span class="notification__date">Вчера в 18:22</span>
      </div>
    </div>
  </div>
</div>
