<div class="block__registration__overlay">
  <div class="registration__overlay">
    <div class="block__title__and__icon">
      <div class="close__cross" (click)="isRegisterOverlay.set(false)" (keydown.escape)="isRegisterOverlay.set(false)"
           tabindex="0"
           role="button"
           aria-pressed="false">
        <img src="/assets/icons/exit-cross-icon.svg" alt="">
      </div>

      <div class="title__and__icon">
        <img src="/assets/icons/profile-icon.svg" alt="" height="89" width="82">
        <span class="title__registration ft24 fw400">Регистрация</span>
      </div>
    </div>
    <form [formGroup]="formRegister"
          (ngSubmit)="onSubmit()"
    >
    <div class="block__registration__info">
      <div>
        <p class="ft20 fw400">Имя</p>
        <div>
          <input
            formControlName="name"
            type="text" placeholder="Введите своё настоящее имя" class="input__text ft20 fw400"/>
        </div>
      </div>

      <div>
        <p class="ft20 fw400">Логин</p>
        <div>
          <input
            formControlName="username"
            type="text" placeholder="Введите имя пользователя" class="input__text ft20 fw400"/>
        </div>
      </div>

      <div>
        <p class="ft20 fw400">Фамилия</p>
        <div>
          <input
            formControlName="lastname"
            type="text" placeholder="Введите свою фамилию" class="input__text ft20 fw400"/>
        </div>
      </div>

      <div>
        <span class="ft20 fw400">Пароль</span>
        <div class="block__password">
          <input
            formControlName="password"
            [type]="isPasswordVisible() ? 'text' : 'password' " placeholder="Введите пароль"
                 class="input__text ft20 fw400"/>
          <button class="password__eye" (click)="isPasswordVisible.set(!isPasswordVisible())">
            <img src="/assets/icons/password-eye-icon.svg" alt="">
            <div *ngIf="!isPasswordVisible()" class="password__eye__line"></div>
          </button>
        </div>
      </div>

      <div>
        <p class="ft20 fw400">E-mail</p>
        <div>
          <input
            formControlName="email"
            type="email" placeholder="Введите адрес почты" class="input__text ft20 fw400"/>
        </div>
      </div>

      <div>
        <p class="ft20 fw400">Повторите пароль</p>
        <div>
          <input
            formControlName="repeatPassword"
            type="text" placeholder="Введите пароль" class="input__text ft20 fw400"/>
        </div>
      </div>

      <div class="block_registration__roles">
        <button type="button" class="button_style" style="background: var(--orange-register-button)">Я могу организовать передержку</button>
        <div class="two_buttons_grid"> 
          <button type="button" class="button_style" style="background: var(--purple-register-button)">Я отловщик</button>
          <button type="button" class="button_style" style="background: var(--green-register-button)" >Я ветеринар</button>
        </div>
        <button type="button" class="button_style" style="background: var(--brown-other-register-button)">Я здесь по другой причине</button>
      </div>

      <div class="block__about__user">
        <p class="ft20 fw400">Напишите о себе</p>
        <div>
          <textarea
            formControlName="aboutMe"
            class="about__user__area ft20 fw400" placeholder="Необязательно"></textarea>
        </div>
      </div>

    </div>

    <div class="block__registration__button">
      <button type="submit" class="registration__button ft20 fw700">Зарегистрироваться</button>
    </div>
    </form>
  </div>
</div>
