<div class="profile__popup">
  <div class="info__about__user">
    <img src="/assets/images/test-cat2.png" class="user__image" alt="avatar">
    <p class="ft20 fw700">Ирина Шеремет</p>
  </div>
  <div class="block__control">
    <div *ngFor="let controlItem of controlItems">
      <a class="block__control__link">
        <div class="block__control__line">
          <img src="/assets/icons/{{ controlItem.icon }}" alt="icon">
          <p class="ft20 fw400"
             (click)="controlItem.title === 'Выйти' ? logout() : ''"
             (keydown.enter)="controlItem.title === 'Выйти' ? logout() : ''"
             tabindex="0"
             role="button"
             aria-pressed="false">{{ controlItem.title }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
