<div class="container__post__answer">
  <div class="block__post__image">
    <img src="/assets/images/test-cat.png" id="post__image" alt="image">
  </div>
  <div class="block__status__other">
    <div class="block__post__status">
      <app-post-status />
    </div>

    <div class="block__text__button">

      <div class="block__post__text">
        Ищет дом себе котик по кличке том
        Ищет дом себе котик по кличке том
        Ищет дом себе котик по кличке том
      </div>

      <div class="block__post__button">
        <div class="post__button fw700 ft18">
          Перейти
        </div>
      </div>
    </div>
  </div>
</div>
