<div class="post__interior_container">
  <div class="post__inferior_container">
    <div class="photo__container">
      <img class="pet_photo" src="../../assets/images/test-cat3.png" alt="pets-photo"/>
      <favorites-button/>
    </div>
    <div class="info-under-photo__container">
      <find-status-flag/>
      <p class="publication-date ft20 fw400">Вт 17.07</p>
      <div class="comments_number ft20 fw400">
        <p>3</p>
      </div>
    </div>
    <div class="pet-description__container ft20 fw400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam animi consectetur distinctio dolorem excepturi hic itaque, libero minus, neque quam, saepe tempore. Non perspiciatis tempore voluptate. Modi similique, totam!</div>
    <div class="place__container ft20 fw400">р-н. Калининский</div>
    <div class="post-bottom__container">
      <div class="author-username__container user_tag">&#64;OchenVeryDlinniyNickName</div>
      <button class="response_button ptbold ft20" href="#">Откликнуться</button>
    </div>
  </div>
</div>
