@font-face {
  font-family: "PT Sans Caption Regular";
  src: url(../public/assets/fonts/PTSansCaption-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans Caption Bold";
  src: url(../public/assets/fonts/PTSansCaption-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
