/* You can add global styles to this file, and also import other style files */
@import "fonts";

:root {
  --white-color: #FFF;
  --black-color: #000;

  // brown
  --brown-filter-color: #1C1508;
  --brown-main-color: #21190B;
  --brown-bg-color: #2C2210;
  --brown-bg-color: #312611;
  --brown-dark-light-color: #352303;
  --brown-button-color: #352B1A;
  --text-brown-light-color: #443416;
  --brown-light-color: #4B432A;
  --brown-hover-color: #503E00;

  // gray
  --gray-filter-color: #363636;
  --gray-color-button: #4E4E4E;
  --gray-text-tag: #5D5D5D;
  --light-gray-color: #D8D8D8;

  // green
  --green-active-button-bg: rgba(70, 116, 48, 1);
  --green-hover-bg: rgba(59, 126, 28, 0.1);  ;
  --green-hover-border: rgba(42, 88, 20, 1);
  --green-color-button: #467430;
  --green-color-bg: #86C8C0;

  // red and pink
  --red-hover-bg: rgba(155, 52, 29, 0.1);
  --red-active-button-bg: rgba(138, 55, 38, 1);
  --red-hover-border: rgba(109, 36, 21, 1);
  --red-brown-color: #2B1800;
  --red-hover-color: #5A2B00;
  --red-color-favorites: #BA2C21;
  --pink-border-color: #EABAB3;
  --pink-color-bg: #F5D3B4;

  // blue
  --cyan-color-messages: #182C2A;
  --blue-color-bg: #79B0E3;
  
  //orange
  --russet-filter-color: #765536;
  --creamy-filter-color: #9F9184;
  --orange-hover-border: rgba(121, 82, 46, 1);
  --orange-active-button-bg: rgba(145, 105, 67, 1);
  --orange-hover-bg: rgba(172, 117, 65, 0.1);

  // purple
  --purple-color-messages: #221630;
  --purple-color-bg: #E3CFFD;

  // yellow
  --yellow-color-bg: #F6DE8A;
}


*,
*:before,
*:after {
  color: var(--white-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  opacity: 0;
  animation: ani 2.5s forwards;

  @keyframes ani {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  font-family: "PT Sans Caption Regular", sans-serif;
}

a, button {
  cursor: pointer;
}


.ft48 {
  font-size: 48px;
}

.ft40 {
  font-size: 40px;
}

.ft20 {
  font-size: 1.3em;
}

.ft24 {
  font-size: 24px;
}

.ft18 {
  font-size: 18px;
}

.ft16 {
  font-size: 16px;
}

.roboto {
  font-family: "Roboto Slab", sans-serif;
}

.ptbold {
  font-family: "PT Sans Caption Bold", sans-serif;
}

.ptitalic {
  font-family: "PT Sans Caption Regular", sans-serif;
  font-style: italic;
}

.fw400 {
  font-weight: 400;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.lh26 {
  line-height: 26px;
}

.lh52 {
  line-height: 52px;
}

.yellow-color {
  background: var(--yellow-color-bg);
  color: var(--yellow-color-bg)
}

.pink-color {
  background: var(--pink-color-bg);
  color: var(--pink-color-bg)
}

.purple-color {
  background: var(--purple-color-bg);
  color: var(--purple-color-bg)
}

.green-color {
  background: var(--green-color-bg);
  color: var(--green-color-bg)
}

.blue-color {
  background: var(--blue-color-bg);
  color: var(--blue-color-bg)
}

.user_tag {
  color: var(--gray-text-tag);
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

