<div class="buttons">
    <button [ngClass]="isPressedLost ? 'lost_status_active' : 'lost_status_inactive'" (click)="pressButtonLost()" class="ft20 fw400">
                    Пропал
                </button>
    <button [ngClass]="isPressedFoundHome ? 'found-home_status_active' : 'found-home_status_inactive'" (click)="pressButtonFoundHome()" class="ft20 fw400">
                    Найден
                </button>
    <button [ngClass]="isPressedLookingFor ? 'looking-for-home_status_active' : 'looking-for-home_status_inactive'" (click)="pressButtonLookingFor()" class="ft20 fw400">
                    Ищет дом
                </button>
</div>