.sticker__link {
  cursor: pointer;

  .sticker {
    // min-height: 400px;
    &:hover .block__button {
      // max-height: 100px;
      transition: max-height 0.8s;

      .sticker__button {
        // opacity: 1;
        transition: opacity 1s;
        // max-height: 100px;
      }
    }

    // margin-bottom: 100px;
    // height: fit-content;
    // max-width: 475px;
    // border-radius: 20px;

    .sticker__title {
      border-bottom: 1px solid var(--brown-bg-color);
      // padding-top: 15px;

      .title__icon {
        // position: relative;
        // display: flex;
        // justify-content: start;
        // align-items: center;

        .icon {
          // position: absolute;
          // right: 10px;
          // max-width: 68px;
          // max-height: 68px;
          // margin-right: 20px;
        }
      }
    }

    .block__button {
      // display: grid;
      // padding-bottom: 40px;
      // max-height: 0;
      // transition: max-height .8s;

      .sticker__button {
        // opacity: 0;
        transition: opacity 0.2s;
        // cursor: pointer;
        background: var(--brown-bg-color);
        // padding: 10px 16px;
        // border-radius: 16px;
        // justify-self: end;
        // margin-right: 20px;
      }
    }

    p {
      color: var(--brown-bg-color);
      // padding: 20px 50px;
    }
  }
}
