<div class="break-inside-avoid-column {{ classEl }}">
  <a class="sticker__link">
    <div class="sticker rounded-lg  {{classColor}}">
      <div class="sticker__title">
        <div class="title__icon px-8 pt-8 relative">
          <p class="ptbold text-2xl pr-12">{{ title }}</p>
          <img class="icon h-12 w-12 absolute top-8 right-8" src="/assets/icons/{{ icon }}" [alt]="title">
        </div>
        <p class="text-sm px-8 pb-5 pt-8">{{ subtitle1 }}</p>
      </div>
      <p class="text-sm p-8 pb-5">{{ subtitle2 }}</p>
      <div class="block__button pb-8 px-8 grid">
        <a class="sticker__button rounded-2xl p-2 px-4 text-base font-bold text-right justify-self-end">Перейти</a>
      </div>
    </div>
  </a>
</div>