.brown-gray {
  background: var(--brown-button-color);
}

.light-brown {
  background: var(--brown-dark-light-color);
}

.red-brown {
  background: var(--red-brown-color);
}

.purple {
  background: var(--purple-color-messages);
}

.cyan {
  background: var(--cyan-color-messages);
}

.dark-brown {
  background: var(--brown-main-color);
  border-bottom-left-radius: 40px;
}
