.icon_button__button {
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-family: 'PT Sans Caption Regular';
    padding: 8px 18px 8px 18px;
    cursor: pointer;

    :hover {}

    .icon_button__icon {
        width: 24px;
        height: 100%;
        margin-right: 10px;
        display: inline-block;

    }

    .icon_button__label {
        height: 100%;
        align-items: center;
    }
}