.block__message__popup {
  margin-right: 350px;
  margin-top: 34px;
  width: 919px;
  height: 522px;
  background: var(--brown-ads-color);
  max-height: fit-content;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: auto;
  display: grid;
  grid-template-columns: 126px 1fr 1fr;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  grid-template-rows: 80px 1fr 1fr 1fr 1fr;

  .block__list__chats {
    width: 323px;
  }
}
