<div class="notification__responded">
  <div class="block__notification__info">
    <div class="images__notification">
      <img src="/assets/images/test-cat.png" class="main__image">
      <img src="/assets/images/test-cat2.png" class="second__image">
    </div>
    <div class="block__notification__text">
      <div class="text__notification__info">
        <span class="lh26 fw400 ft20"><a class="format__text">Имя Чела</a> откликнулся на ваше объявление: <a
          class="format__text text__post">Само объявление очень длинный текст, который не помещается в иконку и его приходится </a></span>
      </div>
      <div class="block__notification__date">
        <span class="notification__date">Сегодня в 10:14</span>
      </div>
    </div>
  </div>
</div>
