.animals__button__looking-for-home {
  width: 277px;
  height: 59px;
  color: var(--white-color);
  border: 1px solid var(--pink-border-color);

  &:hover {
    background: var(--red-hover-color);
    color: var(--pink-color-bg);
    transition: 0.3s ease;
  }
}
